<!-- component -->
<div class="insta-clone">
  <div class="bg-gray-100 h-auto px-48">
    <div class="flex md:flex-row-reverse flex-wrap">
      <div class="w-full md:w-3/4 p-4 text-center">
        <div class="text-left pl-4 pt-3">
          <span class="text-base text-gray-700 text-2xl mr-2"><%= @user.username %></span>
          <span class="text-base font-semibold text-gray-700 mr-2">
            <%= link_to 'Edit this account', edit_user_registration_path, class: "bg-transparent hover:bg-blue-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded" if @user == current_user %>
            <% if !@fol.present? %>
              <%= link_to 'follow', user_follows_path(@user), method: :post, data: { turbo_method: :post }, class: "bg-transparent hover:bg-blue-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded" if @user != current_user %>
            <% else %>
              <%= link_to "unfollow", follow_path(@fol.id), data: { turbo_method: :delete }, class: "bg-transparent hover:bg-blue-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded" %>
            <% end %>
            <%= link_to 'Sign out', destroy_user_session_path, 'data-turbo-method': :delete, class: "bg-transparent hover:bg-blue-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded" if @user == current_user %>
          </span>
        </div>

        <div class="text-left pl-4 pt-3">
            <span class="text-base font-semibold text-gray-700 mr-2">
              <b><%= @user.posts.count %></b> posts
            </span>
          <span class="text-base font-semibold text-gray-700 mr-2">
              <b><%= @user.followers.count %></b> followers
            </span>
          <span class="text-base font-semibold text-gray-700">
              <b><%= @user.following.count %></b> following
            </span>
        </div>

        <div class="text-left pl-4 pt-3">
          <%= @user.about %>
        </div>
      </div>

      <div class="w-full md:w-1/4 p-4 text-center">
        <div class="w-full relative md:w-3/4 text-center mt-8">
          <%= image_tag(@user.avatar, class: "block mx-auto bg-center bg-no-repeat bg-cover w-32 h-32 rounded-full border border-gray-400 shadow-lg") if @user.avatar.attached? %>
        </div>
      </div>
    </div>

    <!--status show icon-->
    <hr class="border-gray-500 mt-6"/>
    <hr class="border-gray-500 w-20 border-t-1 ml-64 border-gray-800"/>

    <!--post icon and title-->
    <div class="flex flex-row mt-4 justify-center mr-16">
      <div class="flex text-gray-700 text-center py-2 m-2 pr-5">
        <div class="flex inline-flex">
          <button
            class="border-transparent text-gray-800 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
            aria-label="Notifications"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"
                />
            </svg>
          </button>
        </div>
        <div class="flex inline-flex ml-2 mt-1">
          <h3 class="text-sm font-bold text-gray-800 mr-2 w-">POSTS</h3>
        </div>
      </div>
    </div>
    <!--post images-->

    <div class="flex pt-4">
      <div class="flex-1 text-center px-4 py-2 m-2">
        <% @user.posts.each do |posts| %>
          <% posts.pictures.each do |picture| %>
            <%= link_to image_tag(picture, class: " block bg-center bg-no-repeat bg-cover h-screen w-60 rounded-lg") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
