<%= form_with(model: @post, class: "contents") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <% @post.pictures.each do |picture| %>
      <%= image_tag picture, class: "lg:max-w-4xl h-full bg-gray-800 bg-opacity-90 top-1 overflow-y-auto overflow-x-hidden fixed sticky-0" %>
    <% end %>
    <div class="w-full top-0 absolute z-10 left-0 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700" id="notification">
      <div class="2xl:w-4/12 bg-gray-50 h-screen overflow-y-auto p-20 absolute right-0">
        <div class="w-250 p-3 lg:max-w-4xl  mt-8 bg-white rounded flex">
          <div class="focus:outline-none w-8 h-8 w- border rounded-full border-gray-200 flex items-center justify-center">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <%= link_to image_tag(@post.user.avatar, class: "rounded-full border border-gray-100 shadow-sm") if current_user.avatar.attached? %>
            </svg>
          </div>
          <div class="pl-3">
            <p tabindex="0" class="focus:outline-none text-sm leading-none">
              <span><%= link_to(@post.user.username, users_show_path(@post.user)) %></span>
            </p>
            <%= f.text_field :description, class: "focus:outline-none text-xs leading-3 pt-1 text-gray-500", autocomplete: "description"%>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end %>