<div class="container">
  <% @post.pictures.each do |picture| %>
    <%= image_tag picture, class: "lg:max-w-4xl h-full bg-gray-800 bg-opacity-90 top-1 overflow-y-auto overflow-x-hidden fixed sticky-0" %>
  <% end %>
  <div class="w-full top-0 absolute z-10 left-0 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700" id="notification">
    <div class="2xl:w-4/12 bg-gray-50 h-screen overflow-y-auto p-20 absolute right-0">
      <div class="w-250 p-3 lg:max-w-4xl  mt-8 bg-white rounded flex">
        <div class="focus:outline-none w-8 h-8 w- border rounded-full border-gray-200 flex items-center justify-center">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <%= link_to image_tag(@post.user.avatar, class: "rounded-full border border-gray-100 shadow-sm") if current_user.avatar.attached? %>
          </svg>
        </div>
        <div class="pl-3">
          <p tabindex="0" class="focus:outline-none text-sm leading-none">
            <span><%= link_to(@post.user.username, users_show_path(@post.user)) %></span>
          <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500"><%= @post.description %></p>
        </div>
      </div>
      COMMENTS
      <% @post.comments.where(parent_id: nil).each do |comment| %>
        <div class="w-full h p-3 mt-4 bg-white rounded shadow flex flex-shrink-0">
          <div tabindex="0" aria-label="group icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex flex-shrink-0 items-center justify-center">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <%= link_to image_tag(comment.user.avatar, class: "block mx-auto bg-center bg-no-repeat bg-cover w-9 h-9 rounded-full border border-gray-400 shadow-lg") if comment.user.avatar.attached? %>
            </svg>
          </div>
          <div class="pl-3 w-full">
            <div class="flex items-center justify-between w-full">
              <p tabindex="0" class="focus:outline-none text-sm leading-none"><span><%= comment.user.username %> </span>
              <p class="left-0">
                <svg aria-label="Like" class="_8-yf5 " fill="#262626" height="14" viewBox="0 0 48 48" width="24">
                  <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                </svg>
              </p>
            </div>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500"><%= comment.content %></p>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">  Created: <%= time_ago_in_words(comment.created_at) %> ago</p>
            <%= render partial: "comments/reply_comments" if comment.comments.present?  %>
          </div>
        </div>
      <% end %>
      <%= form_with(model: [@post, @comment]) do |form| %>
        <div class="mt-4 border border-grey w-full border-1 rounded p-2 relative focus:border-red">
          <div class="flex">
            <%= form.text_field :content, rows: 4, class: "border border-2 rounded-r px-4 py-2 w-full", placeholder: "write a comment" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

